notes/
__pycache__/
.vscode/settings.json
.vscode
src/config.py
logs.log
notebooks/logs.log
notebooks/.ipynb_checkpoints
notebooks/logs.log
catboost_info/catboost_training.json
model_progress
notes
catboost_info/learn_error.tsv
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
