xgboost==1.4.2
geopy==2.2.0
pycaret==2.3.2
polyline==1.4.0
pandas_profiling==3.0.0
shap==0.39.0
imbalanced_learn==0.7.0
streamlit==1.0.0
seaborn==0.11.1
streamlit_pandas_profiling==0.1.2
tqdm==4.61.2
optuna==2.8.0
scipy==1.5.4
requests==2.26.0
pandas==1.3.0
numpy==1.19.5
urllib3==1.26.6
joblib==1.0.1
matplotlib==3.4.2
plotly==5.1.0
imblearn==0.0
scikit_learn==1.0
